@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff; /* Основной фон */
  font-family: sans-serif;
  user-select: none;
}

/*Настройки экрана*/
.home-container {
  min-height: 100vh; /* Полный видовой экран */
  background: #ffffff;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  width: 100%;
}



.top-block {
  width: 100%;
  top: 0;
  height: 15%;
}

.block-energy {
  margin-top: 2%;
  margin-left: 2%;
  border: 10px solid #FCAC17;
  background-color: #FCAC17;
  border-radius: 18px;
  width: 4rem;
  /*margin-top: -35px;*/
}
.border-energy {
  margin-top: -55px;
  margin-left: 4.8rem;
  /*margin-right: 3rem;*/
  width: 70%;
}

.farmer-number {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 2.0rem;
  left: 4.3rem;
}

.energe-text {
  color: black;
}




/*img {*/
/*  user-select: none;*/
/*  pointer-events: none;*/
/*  -webkit-user-drag: none;*/
/*  -ms-user-select: none;*/
/*  -moz-user-select: none;*/
/*}*/

/*!* Анимации *!*/
@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.click-animation {
  animation: clickAnimation 0.2s ease-out;
}

/*!* Градиенты *!*/
/*.bg-gradient-overlay {*/
/*  background: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff);*/
/*}*/

/*.radial-gradient-overlay {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: radial-gradient(circle, rgba(36, 157, 140, 1) 0%, rgba(250, 214, 92, 0) 60%);*/
/*}*/

/*!* Блоки *!*/
/*.background-purple {*/
/*  height: 33%;*/
/*  width: 100%;*/
/*  top: 67%;*/
/*  z-index: 0;*/
/*  background: #ffffff;*/
/*}*/

.midle-block {
  height: 35%;
  width: 100%;
  top: 35%;
  background-color: #279E8B;
  border-radius: 30px;
}

.buttonvivod-button {

  background: #EDC448;
  /*border: 10px solid #EDC448;*/
  width: 180px;
  height: 60px;
  position: absolute;
  bottom: 0; /* Закрепляем изображение к верхней границе */
  left: 50%; /* Центрируем изображение по горизонтали */
  transform: translateX(-50%); /* Сдвигаем изображение обратно на половину его ширины */

  margin-bottom: -30px;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.8rem;
  transition: transform 0.1s ease-in-out;
}

/*.buttonvivod-button.pressed {*/
/*  transform: scale(0.95);*/
/*}*/

/*!* Навигация *!*/


/*.navigat button {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  gap: 0.5rem;*/
/*  transition: transform 0.2s ease-in-out;*/
/*}*/

/*.navigat button:hover {*/
/*  transform: scale(1.6);*/
/*}*/

/*.navigat img {*/
/*  width: 32px;*/
/*  height: 32px;*/
/*  border-radius: 30%;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.navigat span {*/
/*  color: white;*/
/*  font-weight: 300;*/
/*  font-size: 0.6rem;*/
/*}*/

/*!* Адаптивные стили *!*/
/*@media (max-width: 640px) {*/
/*  .buttonvivod-button {*/
/*    width: 150px;*/
/*    height: 30px;*/
/*    font-size: 1.5rem;*/
/*  }*/

/*  .navigat button {*/
/*    font-size: 0.6rem;*/
/*  }*/
/*}*/

/*@media (max-width: 480px) {*/
/*  .buttonvivod-button {*/
/*    width: 180px;*/
/*    height: 55px;*/
/*    font-size: 1.2rem;*/
/*  }*/

/*  .navigat button {*/
/*    font-size: 0.5rem;*/
/*  }*/
/*}*/

/*!* Дополнительные стили *!*/
/*.toolbar {*/
/*  margin-top: 1rem;*/
/*}*/

/*.border-energy {*/
/*  margin-top: -60px;*/
/*}*/


/*.textcolor-black {*/
/*  color: #000000;*/
/*  font-size: 20px;*/
/*  margin-top: -12px;*/
/*}*/

/*.txt-size {*/
/*  font-size: 3rem;*/
/*}*/

.balance-block {
  bottom: 52px;
  position: absolute;
  left: 50%; /* Центрируем изображение по горизонтали */
  transform: translateX(-50%); /* Сдвигаем изображение обратно на половину его ширины */
}

.notc-block {
  position: relative;
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: flex-start; /* Вертикальное выравнивание по верхней границе */
  height: 100%; /* Убедитесь, что блок имеет высоту */
  margin-top: -42%;
}






.notc-width {
  height: 120%; /* Высота изображения равна высоте блока */
  width: auto; /* Ширина изображения автоматически подстраивается под высоту */
  position: absolute;
  /*top: -10%; !* Закрепляем изображение к верхней границе *!*/
  /*left: 50%; !* Центрируем изображение по горизонтали *!*/
  /*transform: translateX(-50%); !* Сдвигаем изображение обратно на половину его ширины *!*/
}




/*!* Стили для информационных уведомлений *!*/
/*.Toastify__toast--info {*/
/*  background-color: #007bff; !* Цвет фона для информационных уведомлений *!*/
/*}*/

/*.Toastify__toast--error {*/
/*  background-color: #ff0044; !* Цвет фона для информационных уведомлений *!*/
/*}*/

/*!* Стили для контейнера уведомлений *!*/
/*.Toastify__toast-container {*/
/*  width: 320px; !* Ширина контейнера *!*/
/*  padding: 10px; !* Отступы внутри контейнера *!*/
/*}*/

.bottom-block {
  width: 100%;
  bottom: 0;
  height: 20%;
}

.navigat {
  background: #249D8C;
  margin-bottom: 3%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
































.frens-container {
  min-height: 100vh; /* Полный видовой экран */
  background: #ffffff;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  width: 100%;
}

.frens-top {
  /*top: 0;*/
  height: 20%;
  /*width: 100%;*/
  background: #EDC448;
}

.frens-top p {
  margin-top: -8%;
}


.frens-midle {
  background: #279E8B;
  width: 100%;
  top: 14%;
  height: 60%;
  border-radius: 30px;
}

